# Required
BOT_TOKEN=PUT_YOUR_BOT_TOKEN_HERE
ADMIN_IDS=5385377266
BOT_USERNAME=nyxor_ji_bot
ADMIN_SUPPORT=FLEXSAMAY
VIP_SUPPORT=TH3GALAXY

# Optional resource controls
POLL_INTERVAL=60
DB_CONCURRENCY=8
TYPE4_CONCURRENCY=10
BOT_DB_FILE=bot_database.json
